[submodule "api"]
	path = api
	url = https://github.com/pro-claws/api.git
[submodule "backend"]
	path = backend
	url = https://github.com/pro-claws/backend.git
[submodule "vendistri"]
	path = vendistri
	url = https://github.com/pro-claws/vendistri.git
[submodule "home_page"]
	path = home_page
	url = https://github.com/pro-claws/home-page.git
